/* The main container  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Rubik+Dirt&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(18,18,18);
}
a{
    text-decoration: none;
    color: white;
}

.Games-categories {
    display: flex;
    border: 2px saddlebrown solid;
    margin-top: 300px;
    flex-direction: column;
}

/* for all games section */
.games-section {
    display: flex;
}

.card {
    width: 20%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 10px;
}
.anchor {
    background-color: rgb(52,120,246);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.items ul li a:hover {
    background-color: white;
    color: rgb(52,120,246);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}



/* Beginning of header */
.header{
    height: 3.2rem;
    background-color: rgb(42,42,42);
    display: flex;
    color: rgb(204,204,204);
}
.items {
    padding: 1rem;
}

.items ul li  {
    display: inline;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 1.3rem;
}
.items ul li a {
    text-decoration: none;
}
.current-li{
    color: rgb(52,120,246);
    font-weight: bold;
}

/* End of header */

/* Begining of search section */
.search{
    width: 80%;
    border-radius: 1rem;
    height: 3.4rem;
    background-color: rgb(32,32,32);
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form{
    padding: 0.5rem;
    width: 90%;
}
.search form {
    width: 90%;
    height: 100%;
    border: none;
    padding: 0.5rem;
    border: nopne;
}
.search form input {
    width: 70%;
    height: 70%;
    border: none;
    background-color: rgb(32,32,32);
    color: rgb(204,204,204);
    font-size: 1.2rem;
    padding: 0 1rem;
}
#search:focus {
     outline: none !important;
}
.search form button {
    width: 18%;
    height: 70%;
    background-color: rgb(32,32,32);
    border: none;
    color: rgb(204,204,204);
    font-size: 1.2rem;
    padding: 0 1rem;
}
/* End of searh section */
/* Main Page Card */
.container{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(32,32,32);
    border-radius: 2rem;
    display: flex;
    margin-bottom: 3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big-pics{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.right-section{
    justify-self: end;
    align-items: end;
    padding: 3rem 1rem;
}

.right-section div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}
.right-section div a:hover {
    opacity: 0.6;
} 
.right-section img{
    width: 15rem;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.big-pics img {
    width: 90%;
    height: 80%;
    border-radius: 2rem;
}


/* End of Main Page Card */

/* Game Sections */
.section-title{
    color: white
}

.game-section{
    width: 20%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    justify-content: start;
    align-items: end;
}
.game-section img {
    width: 12rem;
    height: 10rem;
    margin: 0.5rem;
}
/* End of Game Sections */

.search-container{
    border-radius: 1rem;
    margin: 2rem auto;
    width: 90%;
    display: flex;
    background-color: rgb(32,32,32);
}

.search-input{
    width: 80%;
    justify-content: center;
    align-items: center;
}

.search-input input {
    margin-left: 1.2rem;
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    margin-right: 1rem;
    background-color: rgb(32,32,32);
    border: none;
    font-size: 1.2rem;
    color: white;
}

.search-btn{
    justify-content: end;
    align-items: center;
}

.search-btn button {
    margin-left: 11rem;
    padding: 1rem 4rem;
    background-color:rgb(52,120,246);
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 0 1rem 1rem 0;
}

#search:focus {
    outline: none !important;
    background-color: none;
    color: white;
    font-size: 1.2rem;
}

#search::placeholder {
    font-size: 1.2rem;
    color: white;
}

datalist {
    background-color: red;
}


/* Beginning of the categorise card */
.cate-container {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(32,32,32);
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.categorise{
    padding: 1rem;
    flex-direction: column;
}
.cate-card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.cate-card p {
    margin-top: 0.7rem;
    color: white;
    font-size: 1.2rem;
}

.cate-card img {
    border-radius: 1rem;
    width: 17rem;
}

.section-title{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    font-family: 'Rubik Dirt',  sans-serif;
}

.error-title{
    color: red;
    font-size: 2rem;
    margin: 0 40rem;
    font-family: 'Rubik Dirt',  sans-serif;
}

