.Games-categories{
    display: flex;
    flex-wrap: wrap;
    border-color: 2px saddlebrown solid;
    padding-left: 70px;
    justify-content: flex-around;
    margin-top: 30px;
}
.card {
width: 20%;
margin: 10px;
}
.card img {
    width: 100%;
}
h2{
    display: block;
}